* {
  margin-left: 5px;
  margin-right: 5px;
  font-family: Barlow, sans-serif;
}

h1 {
  text-align: center;
  font-weight: 800;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

p {
  font-weight: 200;
}

.container {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  align-items: center;
}

/*
.row {
  flex-basis: calc(25%)
} */

.img {
  width: 100%;
}

.everything-below-image {
  text-align: center;
}

.icon {
  width: 25%;
}

/* .container {
  display: flex;
  padding: 10px;
}

.column {
  flex: 0 0 auto;
  padding-right: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}

.app-switching,
.trip-filtering,
.service-filters,
.stats-mileage {
  flex-basis: calc(100% / 4);
  margin: 5px;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.everything-below-image {
  padding: 10px;
} */
}
